<div class="card" *ngIf="currencyBool">
        <p-table #dt1 [value]="currency" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
                [rowsPerPageOptions]="[10,25,50]" [loading]="loading" [paginator]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [globalFilterFields]="['currency.currency','currency.code','currency.mid']">
                <ng-template pTemplate="caption">
                        <div class="flex">
                                <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                                        (click)="clear(dt1)"></button>
                                <span class="p-input-icon-left ml-auto">
                                        <i class="pi pi-search"></i>
                                        <p-calendar [(ngModel)]="selectedDate" dateFormat="yy-mm-dd"
                                                (click)="getDate()"></p-calendar>
                                </span>
                        </div>
                </ng-template>
                <ng-template pTemplate="header">
                        <tr>
                                <th style="min-width:15rem">
                                        <div class="flex justify-content-center align-items-center">
                                                Symbol Waluty
                                                <p-columnFilter type="text" field="currency"
                                                        display="menu"></p-columnFilter>
                                        </div>
                                </th>
                                <th style="min-width:15rem">
                                        <div class="flex justify-content-center align-items-center">
                                                Waluta
                                                <p-columnFilter type="text" field="code"
                                                        display="menu"></p-columnFilter>
                                        </div>
                                </th>
                                <th style="min-width:15rem">
                                        <div class="flex justify-content-center align-items-center">
                                                Kurs Waluty
                                                <p-columnFilter type="text" field="mid" display="menu"></p-columnFilter>
                                        </div>
                                </th>
                        </tr>
                </ng-template>
                <ng-template pTemplate="body" let-currency>
                        <tr>
                                <td>
                                        {{currency.currency}}
                                </td>
                                <td>
                                        <span class="image-text">{{currency.code}}</span>
                                </td>
                                <td>
                                        <span class="image-text">{{currency.mid}}</span>
                                </td>
                        </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                        <tr>
                                <td colspan="7">No currency found.</td>
                        </tr>
                </ng-template>
        </p-table>
</div>

<div class="card" *ngIf="dateBool">
        <p-table #dt1 [value]="dateArray" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
                [rowsPerPageOptions]="[10,25,50]" [loading]="loading" [paginator]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [globalFilterFields]="['dateArray.currency','dateArray.code','dateArray.mid']">
                <ng-template pTemplate="caption">
                        <div class="flex">
                                <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                                        (click)="clear(dt1)"></button>
                                <span class="p-input-icon-left ml-auto">
                                        <i class="pi pi-search"></i>
                                        <p-calendar [(ngModel)]="selectedDate" dateFormat="yy-mm-dd"
                                                (click)="getDate()"></p-calendar>
                                </span>
                        </div>
                </ng-template>
                <ng-template pTemplate="header">
                        <tr>
                                <th style="min-width:15rem">
                                        <div class="flex justify-content-center align-items-center">
                                                Symbol Waluty
                                                <p-columnFilter type="text" field="currency"
                                                        display="menu"></p-columnFilter>
                                        </div>
                                </th>
                                <th style="min-width:15rem">
                                        <div class="flex justify-content-center align-items-center">
                                                Waluta
                                                <p-columnFilter type="text" field="code"
                                                        display="menu"></p-columnFilter>
                                        </div>
                                </th>
                                <th style="min-width:15rem">
                                        <div class="flex justify-content-center align-items-center">
                                                Kurs Waluty
                                                <p-columnFilter type="text" field="mid" display="menu"></p-columnFilter>
                                        </div>
                                </th>
                        </tr>
                </ng-template>
                <ng-template pTemplate="body" let-dateArray>
                        <tr>
                                <td>
                                        {{dateArray.currency}}
                                </td>
                                <td>
                                        {{dateArray.code}}
                                </td>
                                <td>
                                        {{dateArray.mid}}
                                </td>
                        </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                        <tr>
                                <td colspan="7">No currency found.</td>
                        </tr>
                </ng-template>
        </p-table>
</div>
<div class="box">
        <h3>Wyberz widok</h3>
        <button (click)="changeTheme('arya-blue.css')" class="cursor-pointer btn1">Ciemny</button>
        <button (click)="changeTheme('saga-blue.css')" class="cursor-pointer btn">Jasny</button>
</div>